snippet rqq "require"
require("$1")
endsnippet

snippet cll "console.log('')"
console.log("$1")
endsnippet

snippet clv "console.log()"
console.log($1)
endsnippet

snippet me "module.exports"
module.exports = $1
endsnippet

snippet rpt "Prop Types"
React.PropTypes.$1,
endsnippet

snippet rptr "Required Prop Type"
React.PropTypes.$1.isRequired,
endsnippet

snippet mercc
module.exports = React.createClass({
  render: () => {
	  return <div> yo </div>
	}
})
endsnippet
