snippet bpbf "binding.pry before filer"
before_filter :binding_pry

def binding_pry
  binding.pry
end
endsnippet

snippet bpaf "binding.pry after filer"
after_filter :binding_pry

def binding_pry
  binding.pry
end
endsnippet
