snippet bpp
binding.pry
endsnippet

snippet bfbpp
before_filter :bpp
def bpp
	binding.pry
end
endsnippet

snippet sdtd
StatsdConnection.time("$1") do
  $2
end
endsnippet

snippet sdtc
StatsdConnection.time("$1") { $2 }
endsnippet

snippet _spec
require 'rails_helper'
require 'pry'

RSpec.describe $1 do
end
endsnippet
