snippet suite
	suite('${1:name}',(() => {
		${2:content}
	}))
snippet test
	test('${1:name}',(() => {
		${2:content}
	}))
snippet rqq
	require("${1:path}")
snippet cll
	console.log("${1:msg}")
snippet clv
	console.log(${1})
